.heading{
width: 70%;
text-align: center;
height: 250px;
background-image: url('buying-shoes.png');
background-position: center;
color: white;
-webkit-text-stroke: 2px black;
padding-top: 70px;
display: inline-block;
}

.stockP{
  background-color: rgba(120, 200, 170, 0.7);
  margin-top: 20px;
  visibility: hidden;
}

.stockChange{
width: 29%;
display: inline-block;
background-image: url('smallshoe.jpg');
height: 300px;
}

.table, th, td{
  border-collapse: collapse;
  border: 1px solid black;
}

.headTxt{
background-color: rgba(220, 150, 110, 0.8);
font-size: 20px;
font-family: 'Arial';
height: 50%;
padding-top: 20px;
border-style: ridge;
border-color: red;
border-width: thick;
margin-bottom: 30px;
}

.output-zone{
  display: inline-block;
width: 45%;
height: 200px;
border-style: groove;
border-width: medium;
vertical-align: top;
margin-top: 30px;
/*background-image: url('1shoe.jpg');
background-position: center;*/
}


.input-area{
  display: inline-block;
  margin-top: 30px;
width: 45%;
height: 300px;
border-style: groove;
border-width: medium;
padding-left: 20px;
padding-top: 10px;
}

.waiting{
  display: none;
}

.output-zone{
border-style: solid;
border-color: black;
margin-left: 20px;
padding-right: 10px;
padding-left: 10px;
padding-top: 10px;
}
